<div class="blocButtonActionUser">
    <div class="buttonMarginResponsive">
        {% if is_granted('ROLE_ADMIN') is same as false or is_granted('ROLE_USER') is same as false %}
            {% if 'user_create' != app.request.attributes.get('_route') %}
                <a href="{{ path('user_create') }}" class="btn btn-secondary"><i class="fa-solid fa-user-plus left"></i> Créer un utilisateur</a>
            {% endif %}
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('user_list') }}" class="btn btn-secondary"><i class="fa-solid fa-users left"></i> Utilisateurs</a>
        {% endif %}
    </div>
    <div>
        {% if app.user %}
            <a href="{{ path('app_logout') }}" class="pull-right btn btn-danger" data-toggle="popover" data-bs-trigger="hover" data-bs-content="Déconnexion"><i class="fa-solid fa-right-from-bracket"></i></a>
        {% endif %}
        {% if not app.user and 'app_login' != app.request.attributes.get('_route') %}
            <a href="{{ path('app_login') }}" class="btn btn-success"><i class="fa-solid fa-user left"></i> Se connecter</a>
        {% endif %}
        {% if 'app_login' == app.request.attributes.get('_route') %}
            <a href="{{ path('homepage') }}" class="btn btn-primary"><i class="fa-solid fa-house left"></i> Accueil</a>
        {% endif %}
    </div>
</div>
