{% extends 'base.html.twig' %}

{% block body %}
    <h4 class="headerTitle pb-2">Liste des utilisateurs</h4>
    {% if users|length == 0 %}
        <div class="alert alert-warning" role="alert">
            Il n'y a pas encore d'utilisateur enregistré. <a href="{{ path('user_create') }}" class="btn btn-warning pull-right">Créer un utilisateur</a>
        </div>
    {% else %}
        <div class="d-flex">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom d'utilisateur</th>
                    <th>Adresse d'utilisateur</th>
                    <th>Rôle</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        {% set userRole = null %}
                        <td>{% for role in user.roles %}
                                {% set userRole = role %}
                                {% if role == 'ROLE_ADMIN' %}
                                    Administrateur
                                {% elseif role == 'ROLE_USER' %}
                                    Utilisateur
                                {% endif %}
                            {% endfor %}</td>
                        <td class="d-flex justify-content-end">
                            {% if userRole == 'ROLE_ADMIN' %}
                                <a href="{{ path('user_role_switch', {'user' : user.id}) }}" class="btn btn-primary btn-sm"><i class="fa-solid fa-repeat"></i> Utilisateur</a>
                            {% elseif userRole == 'ROLE_USER' %}
                                <a href="{{ path('user_role_switch', {'user' : user.id}) }}" class="btn btn-primary btn-sm"><i class="fa-solid fa-repeat"></i> Administrateur</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
